<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ssaemtable.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <ssaemtable.My.MySettings>
      <setting name="recentdataname" serializeAs="String">
        <value />
      </setting>
      <setting name="isitlocked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="recentloc" serializeAs="String">
        <value />
      </setting>
      <setting name="recent_scalex" serializeAs="String">
        <value>850</value>
      </setting>
      <setting name="recent_scaley" serializeAs="String">
        <value>550</value>
      </setting>
      <setting name="opacity" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="isitfirst" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="detailview_zoom" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="upgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="savelocation" serializeAs="String">
        <value>&lt;none&gt;</value>
      </setting>
      <setting name="tablestyle" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="createtype" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="hidestart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="renewtype" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="aeroeffect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="fadeeffect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="startupwarn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="theme" serializeAs="String">
        <value>white</value>
      </setting>
      <setting name="recent_celldesign" serializeAs="String">
        <value>&lt;days&gt;12345&lt;/days&gt;&lt;class&gt;7&lt;/class&gt;</value>
      </setting>
    </ssaemtable.My.MySettings>
  </userSettings>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>